* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.leftside-container {
    width: 50%;
}

.rightside-container {
    width: 35%;
}

.leftside-container-image img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}
.subheading p{
    font-size: 20px;
}
.description p{
    font-size: 16.3px;
}
.subheading1 h4{
    font-size: 15px;
    font-weight: 600;
}
.subheading1 p{
    font-size: 10px;
}


.mainbox1{
    margin-top: 150px;
}
.mainbox {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-top: 20px;
}

.subheading1 {
    flex: 1;
}

.heading-image img {
    width: 150px;
    height: auto;
}

.line1 img {
    width: 435px;
}

.line img {
    width: 100%;
    margin: 10px 0;

}
footer{
    margin-top: 50px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .leftside-container,
  .rightside-container {
    width: 100%;
  }

  .mainbox {
    flex-direction: column;
    align-items: center;
  }

  .heading-image img {
    width: 100%;
    height: auto;
  }

  .line1 img {
    width: 100%;
  }

  .subheading1 h4 {
    font-size: 16px;
    text-align: center;
  }

  .subheading1 p {
    font-size: 12px;
    text-align: center;
  }

  .mainbox1 {
    margin-top: 50px;
  }

  .heading h3 {
    font-size: 20px;
    text-align: center;
  }

  .subheading p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }

  .description p {
    font-size: 14px;
    padding: 0 10px;
    text-align: justify;
  }

  footer {
    padding: 0 10px;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    width: 40px;
    height: auto;
  }

  .brand-name {
    font-size: 20px;
  }

  .social-icons img {
    width: 25px;
    margin: 0 5px;
  }
}
